<div class="ui top fixed secondary pointing stackable menu" id="signedInNav">
  <div class="ui container">
    <a href="/home">
      <div class="ui item" id="homeTab">Life Balance</div>
    </a>
    <a href="/mood_diary">
      <div class="item" id="moodTab">Mood Diary</div>
    </a>
    <a href="/calendar">
      <div class="ui item" id="calendarTab">Calendar</div>
    </a>
    <a href="/analytics">
      <div class="item" id="activeTab">Analytics</div>
    </a>
    <div class="ui right secondary menu">
      <div class="ui dropdown icon item">
        <i class="ellipsis vertical icon menu_icon"></i>
        <div class="menu">
          <a href="/settings">
            <div class="item">Settings</div>
          </a>
          <a href="/help">
            <div class="item">Help</div>
          </a>
          <a href="/index">
            <div class="item">Log Out</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui top fixed secondary pointing hidden menu" id="mobileNav">
  <div class="ui container">
    <a href="/home">
      <div class="ui item" id="homeMobileTab">Life Balance</div>
    </a>
    <div class="ui secondary right menu">
      <div class="ui dropdown icon item">
        <i class="ellipsis vertical icon menu_icon" id="mobileNavElilipsis"></i>
        <div class="menu">
          <a href="/mood_diary">
            <div class="item">Mood Diary</div>
          </a>
          <a href="/calendar">
            <div class="item">Calendar</div>
          </a>
          <a href="/analytics">
            <div class="item">Analytics</div>
          </a>
          <a href="/settings">
            <div class="item">Settings</div>
          </a>
          <a href="/help">
            <div class="item">Help</div>
          </a>
          <a href="/index">
            <div class="item">Log Out</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>