<div class="ui top secondary pointing stackable menu">
      <a href="/index"><div class="ui item">Life Balance</div></a>
      <div class="ui right menu">
        <a href="/sign_in"><div class="ui button"><i class="sign in icon"></i>Sign in</div></a>
        <a href="/sign_up"><div class="ui primary button"><i class="add user icon"></i>Sign up</div></a>      
      </div>
    </div>