<!DOCTYPE html>
<html>

<head>
    <title>Life Balancer - {{title}}</title>
    {{> head}}
</head>

<body>
    <div class="ui container">
        {{> nav_signed_in}} {{{body}}}
    </div>
</body>

</html>
