<!DOCTYPE html>
<html>

<head>
    <title>Life Balancer - {{title}}</title>
    {{> head}}
    <script type="text/javascript">
    // FirebaseUI config.
    var uiConfig = {
        'signInSuccessUrl': '<url-to-redirect-to-on-success>',
        'signInOptions': [
            // Leave the lines as is for the providers you want to offer your users.
            firebase.auth.EmailAuthProvider.PROVIDER_ID,
            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            firebase.auth.FacebookAuthProvider.PROVIDER_ID
            //firebase.auth.TwitterAuthProvider.PROVIDER_ID,
            //firebase.auth.GithubAuthProvider.PROVIDER_ID,          
        ],
        // Terms of service url.
        'tosUrl': '<your-tos-url>',
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
    </script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
    <style type="text/css">
    body {
        background-color: #FFFFFF;
    }
    
    body > .grid {
        height: 100%;
    }
    
    .image {
        margin-top: -100px;
    }
    
    .column {
        max-width: 450px;
    }
    </style>
    <script>
    $(document)
        .ready(function() {
            $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your e-mail'
                            }, {
                                type: 'email',
                                prompt: 'Please enter a valid e-mail'
                            }]
                        },
                        password: {
                            identifier: 'password',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter your password'
                            }, {
                                type: 'length[6]',
                                prompt: 'Your password must be at least 6 characters'
                            }]
                        }
                    }
                });
        });
    </script>
</head>

<body>
    {{{body}}}
</body>

</html>
