<!--<h1 class="ui header">Analytics</h1>-->
<div class="ui raised segment" id="mySegment">
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">Month</a>
        <a class="item" data-tab="second">Week</a>
        <a class="item" data-tab="third">Day</a>
        <a class="item" data-tab="fourth">Hours Per Category</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="ui horizontal divider" id="month">
            <h2 class="ui header">Month's Balance</h2>
        </div>
        <canvas id="monthDonut" width="200" height="125"></canvas>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui horizontal divider" id="week">
            <h2 class="ui header">Week's Balance</h2>
        </div>
        <canvas id="weekDonut" width="200" height="125"></canvas>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui horizontal divider" id="day">
            <h2 class="ui header">Day's Balance</h2>
        </div>
        <canvas id="dayDonut" width="200" height="125"></canvas>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
        <div class="ui horizontal divider" id="events">
            <h2 class="ui header">Hours Per Category</h2>
        </div>
        <canvas id="eventsLine" width="200" height="125"></canvas>
    </div>
</div>

<script src="/js/analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>