<h1 class="ui header">Analytics</h1>
<div class="ui raised segment" id="mySegment">
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="first">Events</a>
        <a class="item" data-tab="second">Mood</a>
    </div>
    <div class="ui tab segment active" data-tab="first">
        <div class="ui grid stackable">
            <div class="thirteen wide column">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first/a">Day</a>
                    <a class="item" data-tab="first/b">Week</a>
                    <a class="item" data-tab="first/c">Month</a>
                    <a class="item" data-tab="first/d">Hours Per Category - Line Chart</a>
                    <a class="item" data-tab="first/e">Hours Per Category - Bar Chart</a>
                </div>
            </div>
            <div class="right floated right aligned three wide column">
                <div class="ui icon button" id="help_analytics_button">
                    <i class="help icon"></i>
                </div>
            </div>
        </div>

        <div class="ui bottom attached active tab segment" data-tab="first/a">
            <div class="ui horizontal divider" id="day">
                <h2 class="ui header">Day's Balance</h2>
            </div>
            <canvas id="dayDonut" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="first/b">
            <div class="ui horizontal divider" id="week">
                <h2 class="ui header">Week's Balance</h2>
            </div>
            <canvas id="weekDonut" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="first/c">
            <div class="ui horizontal divider" id="month">
                <h2 class="ui header">Month's Balance</h2>
            </div>
            <canvas id="monthDonut" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="first/d">
            <div class="ui horizontal divider" id="events">
                <h2 class="ui header">Hours Per Category</h2>
            </div>
            <canvas id="eventsLine" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="first/e">
            <div class="ui horizontal divider" id="events">
                <h2 class="ui header">Hours Per Category</h2>
            </div>
            <canvas id="eventsbar" width="200" height="125"></canvas>
        </div>
    </div>
    <div class="ui tab segment" data-tab="second">
        <div class="ui grid stackable">
            <div class="thirteen wide column">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="second/a">Day</a>
                    <a class="item" data-tab="second/b">Week</a>
                    <a class="item" data-tab="second/c">Month</a>
                </div>
            </div>
            <div class="right floated right aligned three wide column">
                <div class="ui icon button" id="help_analytics_mood_button">
                    <i class="help icon"></i>
                </div>
            </div>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="second/a">
            <div class="ui horizontal divider" id="events">
                <h2 class="ui header">Today's Mood</h2>
            </div>
            <canvas id="todayMood" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second/b">
            <div class="ui horizontal divider" id="events">
                <h2 class="ui header">Week's Mood</h2>
            </div>
            <canvas id="weekMood" width="200" height="125"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second/c">
            <div class="ui horizontal divider" id="events">
                <h2 class="ui header">Month's Mood</h2>
            </div>
            <canvas id="monthMood" width="200" height="125"></canvas>
        </div>
    </div>


<div class="ui small modal" id="analytics_help_modal">
    <div class="header">
        Help
    </div>
    <div class="content">
        <h2>What is analytics events for?</h2>
        <p>This analytics tab will provide you LifeBalance visual representations beyond the current day LifeBalance you have seen on your home page. Through this analytics tool, you can see your over LifeBalance over a week or a month, as well as the current day LifeBalance. In addition, you will have access to graphs that will help you better understand how the hours you spent in each event type fluctuates over several months.</p>
        <h2>What can you do here?</h2>
        <p>Here you can:</p>
        <ul class="helplist">
            <li class="listelm">Look at your LifeBalance for the month by selecting the "Month" tab</li>
            <li class="listelm">Look at your LifeBalance for the week by selecting the "Week" tab</li>
            <li class="listelm">Look at your LifeBalance for the current day by selecting the "Day" tab</li>
            <li class="listelm">See how the amount of hours you spent in each event type has changed over the last couple months with the line chart or bar chart graphing each category by selecting the "Hours Per Catergory" tabs</li>
            <li class="listelm">To see how many hours you spent in each category in the bar chart, just hover over the specific color specified for that section in the key</li>
        </ul>
    </div>
    <div class="actions">
        <div class="ui basic positive icon button" id="analytics_help_modal_close">
            <i class="checkmark icon"></i> Got it!
        </div>
    </div>
</div>

<div class="ui small modal" id="analytics_help_mood_modal">
    <div class="header">
        Help
    </div>
    <div class="content">
        <h2>What is analytics mood for?</h2>
        <p>This analytics tab will provide you LifeBalance visual representations to understand how you have been feeling. There are three views available to you: a representation for the day, the week, and the month.</p>
        <h2>What can you do here?</h2>
        <p>Here you can:</p>
        <ul class="helplist">
            <li class="listelm">Look at your mood data for the month by selecting the "Month" tab</li>
            <li class="listelm">Look at your mood data for the week by selecting the "Week" tab</li>
            <li class="listelm">Look at your mood data for the current day by selecting the "Day" tab</li>
        </ul>
    </div>
    <div class="actions">
        <div class="ui basic positive icon button" id="analytics_help_mood_modal_close">
            <i class="checkmark icon"></i> Got it!
        </div>
    </div>
</div>


    <script src="/js/analytics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
