<h1 class="ui header">Analytics</h1>
<div class="ui segment">
    <h2 class="ui center aligned header">Month's Balance:</h2>
    <div class="ui divider"></div>
    <canvas id="monthDonut" width="200" height="125"></canvas>
    <h2 class="ui center aligned header">Week's Balance:</h2>
    <div class="ui divider"></div>
    <canvas id="weekDonut" width="200" height="125"></canvas>
</div>
<script src="/js/analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>