<style type="text/css">
.grid.week_grid {
    margin-top: 20px;
}
</style>
<div class="ui segment">
    <div class="ui grid stackable">
        <div class="twelve wide column">
            <div class="ui icon buttons">
                <button class="ui button"><i class="angle left icon"></i></button>
                <button class="ui button"><i class="angle right icon"></i> </button>
            </div>
            October 2016
        </div>
        <div class="right floated left aligned four wide column">
            <div class="ui buttons">
                <button class="ui button">Day</button>
                <button class="ui button">Week</button>
                <button class="ui active button">Month</button>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
<script src="/js/calendar.js"></script>