<!--<h1 class="ui header">Calendar</h1>-->
<div class="ui raised segment">
    <div class="ui grid stackable">
        <div class="thirteen wide column">
            <h2 class="ui header">November 2016</h2>
        </div>
        <div class="right floated right aligned three wide column">
            <div class="ui icon buttons">
                <button class="ui primary button add_event_button"><i class="icon add"></i>Add Event</button>
            </div>
            <div class="ui icon button" id="help_calendar_button">
            <i class="help cirle icon"></i>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <table class="ui fixed celled padded table">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr class="top aligned">
                <td class="selectable">
                    <h5 class="ui header">30</h5>
                    <div class="ui selection list">
                        <a class="item">
                            <div class="ui red fluid label">3:00pm: Gym</div>
                        </a>
                        <a class="item">
                            <div class="ui blue fluid label">6:00pm: Dinner</div>
                        </a>
                        <!--<a class="item">
                            <div class="ui yellow fluid label">12:00pm: Sleep</div>
                        </a>-->
                    </div>
                </td>
                <td class="selectable">
                    <h5 class="ui header">31</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">Nov 1</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">2</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">3</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">4</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">5</h5>
                </td>
            </tr>
            <tr class="top aligned">
                <td class="selectable">
                    <h5 class="ui header">6</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">7</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">8</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">9</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">10</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">11</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">12</h5>
                    <div class="ui selection list">
                        <a class="item">
                            <div class="ui red fluid label">8:00am: Work meeting</div>
                        </a>
                        <a class="item">
                            <div class="ui blue fluid label">12:30pm: Lunch with Armin</div>
                        </a>
                        <a class="item">
                            <div class="ui yellow fluid label">12:00pm: Sleep</div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="top aligned">
                <td class="selectable">
                    <h5 class="ui header">13</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">14</h5>
                    <div class="ui selection list">
                        <a class="item">
                            <div class="ui red fluid label">9am: Conference call</div>
                        </a>
                        <a class="item">
                            <div class="ui blue fluid label">6:30pm: Fave show is on!</div>
                        </a>
                        <a class="item">
                            <div class="ui red fluid label">9pm: Gym</div>
                        </a>
                    </div>
                </td>
                <td class="selectable">
                    <h5 class="ui header">15</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">16</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">17</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">18</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">19</h5>
                </td>
            </tr>
            <tr class="top aligned">
                <td class="selectable">
                    <h5 class="ui header">20</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">21</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">22</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">23</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">24</h5>
                    <div class="ui selection list">
                        <a class="item">
                            <div class="ui red fluid label">11:30am: FLight to New York</div>
                        </a>
                        <a class="item">
                            <div class="ui red fluid label">3:00pm: Fax boss</div>
                        </a>
                        <a class="item">
                            <div class="ui blue fluid label">8:00pm: Go to Time Square</div>
                        </a>
                    </div>
                </td>
                <td class="selectable">
                    <h5 class="ui header">25</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">26</h5>
                </td>
            </tr>
            <tr class="top aligned">
                <td class="selectable">
                    <h5 class="ui header">27</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">28</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">29</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">30</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">Dec 1</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">2</h5>
                </td>
                <td class="selectable">
                    <h5 class="ui header">3</h5>
                    <div class="ui selection list">
                        <a class="item">
                            <div class="ui red fluid label">5:00pm: Flight to San Diego</div>
                        </a>
                        <a class="item">
                            <div class="ui blue fluid label">8:00pm: Dinner with friends</div>
                        </a>
                        <a class="item">
                            <div class="ui red fluid label">10:30pm: Gym</div>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui small modal" id="add_modal">
    <div class="header">Add Event</div>
    <div class="content">
        <form class="ui form" id="add_modal_form" method="post" action="/addEvent">
            <div class="required field">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter name">
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="required field">
                        <label>Start time:</label>
                        <input type="time" name="startTime" placeholder="Enter start time">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>End time:</label>
                        <input type="time" name="endTime" placeholder="Enter end time">
                    </div>
                </div>
                <div class="row">
                    <div class="eight wide column">
                        <div class="required field">
                            <label>Start date:</label>
                            <input type="date" name="startDate">
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="field">
                            <label>End date:</label>
                            <input type="date" name="endDate">
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="field">
                <label>Details:</label>
                <input type="text" name="details" placeholder="Enter details">
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="required field">
                        <label>Category:</label>
                        <select class="ui fluid search selection dropdown" name="category">
                        <option value="">Choose a category</option>
                        {{#each eventCategories}}
                            <option value="{{this}}">{{this}}</option>
                         {{/each}}
                    </select>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>Or enter a new category:</label>
                        <input type="text" name="newCategory" placeholder="Enter category">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon clear button" id="add_modal_cancel">
            <i class="remove icon"></i> Cancel
        </div>
        <button class="ui basic positive icon button" id="add_modal_add" form="add_modal_form">
            <i class="add icon"></i> Add
        </button>
    </div>
</div>
<div class="ui small modal" id="edit_modal">
    <div class="header">Edit Event</div>
    <div class="content">
        <form class="ui form" id="edit_modal_form" method="post" action="/editEvent">
            <div class="field">
                <input type="hidden" id="edit_modal_form_hiddenID" name="id" value="" />
            </div>
            <div class="required field">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter new name">
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="required field">
                        <label>Start time:</label>
                        <input type="time" name="startTime" placeholder="Enter new start time">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>End time:</label>
                        <input type="time" name="endTime" placeholder="Enter new end time">
                    </div>
                </div>
                <div class="row">
                    <div class="eight wide column">
                        <div class="required field">
                            <label>Start date:</label>
                            <input type="date" name="startDate">
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="field">
                            <label>End date:</label>
                            <input type="date" name="endDate">
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="field">
                <label>Details:</label>
                <input type="text" name="details" placeholder="Enter new details">
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="required field">
                        <label>Category:</label>
                        <select class="ui fluid search selection dropdown" name="category">
                        <option value="">Choose a category</option>
                        {{#each eventCategories}}
                            <option value="{{this}}">{{this}}</option>
                         {{/each}}
                    </select>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>Or enter a new category:</label>
                        <input type="text" name="newCategory" placeholder="Enter category">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon clear button" id="edit_modal_cancel">
            <i class="remove icon"></i> Cancel
        </div>
        <div class="ui basic negative icon clear button" id="edit_modal_delete">
            <i class="remove icon"></i> Delete
        </div>
        <button class="ui basic positive icon button" id="edit_modal_save" form="edit_modal_form">
            <i class="checkmark icon"></i> Save
        </button>
    </div>
</div>
<div class="ui small modal" id="detail_modal">
    <div class="header">Details</div>
    <div class="content">
        <h2 class="ui header">Name of Event</h2>
        <p> Time of Event: </p>
        <p> Details of the Event: </p>
    </div>
    <div class="actions">
        <div class="ui basic negative icon clear button" id="detail_modal_close">
            <i class="remove icon"></i> Close
        </div>
        <div class="ui basic negative icon clear button" id="detail_modal_delete">
            <i class="remove icon"></i> Delete
        </div>
        <div class="ui basic positive icon button" id="detail_modal_edit">
            <i class="edit icon"></i> Edit
        </div>
    </div>
</div>
<div class="ui small modal" id="delete_modal">
    <div class="header">
        Delete Event
    </div>
    <div class="content">
        <p>Are you sure?</p>
    </div>
    <div class="actions">
        <div class="ui basic negative button">
            <i class="remove icon"></i> No
        </div>
        <div class="ui basic positive icon button" id="delete_modal_yes">
            <i class="checkmark icon"></i> Yes
        </div>
    </div>
</div>

<div class="ui small modal" id="calendar_help_modal">
    <div class="header">
        Help
    </div>
    <div class="content">
        <h2>What is the calendar for?</h2>
        <p>The calendar gives you a month view of the events you have done or will do. The events will be color coordinated by the type of the event, which is specified when you add an event. With this calendar, you can have an overall representation of what your type of events your month consisted of. Similar to the LifeBalance chart on the home page, this will help you with future decisions.</p>
        <h2>What can you do here?</h2>
        <p>Here you can:</p>
        <ul class="helplist">
            <li class="listelm">Add an event entry to your month by clicking the add event button and filling out the event form</li>
            <li class="listelm">Edit an individual event's information by clicking on the event</li>
            <li class="listelm">Look over what kind of events are taking up your month and take action if you have not been feeling satisfied with your balances according to this information</li>
        </ul>
    </div>
    <div class="actions">
        <div class="ui basic positive icon button" id="calendar_help_modal_close">
            <i class="checkmark icon"></i> Got it!
        </div>
    </div>
</div>


<script src="/js/calendar2.js"></script>
