<div class="ui segment">
    <div class="ui grid stackable">
        <div class="fourteen wide column">
            <h2 class="ui header">November 2016</h2>
        </div>
        <div class="right floated left aligned two wide column">
            <div class="ui icon buttons">
                <button class="ui primary button add_event_button"><i class="icon add"></i>Add Event</button>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>
<div class="ui segment">
    <table class="ui fixed celled table">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h5 class="ui header">Day 30</h5>
                    <div class="ui middle aligned divided relaxed selection list">
                        <div class="item">
                            <div class="content">
                                <div class="header">3pm: Gym</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">7pm: Dinner</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">10pm: Sleep</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <h5 class="ui header">Day 31</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 1</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 2</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 3</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 4</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 5</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="ui header">Day 6</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 7</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 8</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 9</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 10</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 11</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 12</h5>
                    <div class="ui middle aligned divided relaxed selection list">
                        <div class="item">
                            <div class="content">
                                <div class="header">8am: Work meeting</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">12:30pm: Lunch with Armin</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">11pm: Sleep</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="ui header">Day 13</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 14</h5>
                    <div class="ui middle aligned divided relaxed selection list">
                        <div class="item">
                            <div class="content">
                                <div class="header">9am: Conference call</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">6:30pm: Fave show is on!</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">9pm: Gym</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <h5 class="ui header">Day 15</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 16</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 17</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 18</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 19</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="ui header">Day 20</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 21</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 22</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 23</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 24</h5>
                    <div class="ui middle aligned divided relaxed selection list">
                        <div class="item">
                            <div class="content">
                                <div class="header">11:30am: Flight to New York</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">3pm: Fax boss</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">8pm: Go to Time Square</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <h5 class="ui header">Day 25</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 26</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="ui header">Day 27</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 28</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 29</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 30</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 1</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 2</h5>
                </td>
                <td>
                    <h5 class="ui header">Day 3</h5>
                    <div class="ui middle aligned divided relaxed selection list">
                        <div class="item">
                            <div class="content">
                                <div class="header">5pm: Flight to San Diego</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">8pm: Dinner with friends</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header">10:30pm: Gym</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui small modal" id="add_modal">
    <div class="header">Adding Event</div>
    <div class="content">
        <form class="ui form" id="add_modal_form" method="post" action="/addEvent">
            <div class="required field">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter name">
            </div>
            <div class="ui grid">
                <div class="five wide column">
                    <div class="required field">
                        <label>Start time:</label>
                        <input type="time" name="startTime" placeholder="Enter start tim
e">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>End time:</label>
                        <input type="time" name="endTime" placeholder="Enter end time">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>Date:</label>
                        <input type="date" name="date">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Details:</label>
                <input type="text" name="details" placeholder="Enter details">
            </div>
            <div class="required field">
                <label>Category:</label>
                <select class="ui fluid search selection dropdown" name="category">
                    <option value="">Choose a category</option>
                    <option value="Work">Work</option>
                    <option value="Fun">Fun</option>
                    <option value="Sleep">Sleep</option>
                </select>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon clear button" id="add_modal_cancel">
            <i class="remove icon"></i> Cancel
        </div>
        <button class="ui basic positive icon button" id="add_modal_add" form="add_modal_form">
            <i class="add icon"></i> Add
        </button>
    </div>
</div>
<div class="ui small modal" id="edit_modal">
    <div class="header">Editing Event</div>
    <div class="content">
        <form class="ui form" id="edit_modal_form" method="post" action="/editEvent">
            <div class="field">
                <input type="hidden" id="edit_modal_form_hiddenID" name="id" value="" />
            </div>
            <div class="required field">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter new name">
            </div>
            <div class="ui grid">
                <div class="five wide column">
                    <div class="required field">
                        <label>Start time:</label>
                        <input type="time" name="startTime" placeholder="Enter new start tim
e">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>End time:</label>
                        <input type="time" name="endTime" placeholder="Enter new end time">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>Date:</label>
                        <input type="date" name="date">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Details:</label>
                <input type="text" name="details" placeholder="Enter new details">
            </div>
            <div class="required field">
                <label>Category:</label>
                <select class="ui fluid search selection dropdown" name="category">
                    <option value="">Choose a category</option>
                    <option value="Work">Work</option>
                    <option value="Fun">Fun</option>
                    <option value="Sleep">Sleep</option>
                </select>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon clear button" id="edit_modal_cancel">
            <i class="remove icon"></i> Cancel
        </div>
        <div class="ui basic negative icon clear button" id="edit_modal_delete">
            <i class="remove icon"></i> Delete
        </div>
        <button class="ui basic positive icon button" id="edit_modal_save" form="edit_modal_form">
            <i class="checkmark icon"></i> Save
        </button>
    </div>
</div>
<!-- Alternative way -->
<!-- <div class="ui segment">
    <div class="ui stackable seven column grid">
    </div>
</div> -->
<script src="/js/calendar2.js"></script>
