{{> nav_signed_in}}

<style type="text/css">
    #schedule_header {
      padding-bottom: 15px;
    }
    .grid.week_grid {
       margin-top: 20px;
    }
  </style>

<div class="ui segment">
      <h2 class="ui dividing header" id="schedule_header">Mood Diary:
        <button class="ui primary right floated button add_event_button"><i class="icon add"></i>New Mood Entry</button>
      </h2>

      <div class="ui stackable seven column grid week_grid">

        <div class="column">
          <h3 class="ui dividing header">Sunday</h3>

          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>

        </div>

        <div class="column">
          <h3 class="ui dividing header">Monday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui dividing header">Tuesday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui dividing header">Wednesday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui dividing header">Thursday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui dividing header">Friday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

        <div class="column">
          <h3 class="ui dividing header">Saturday</h3>
          <div class="ui fluid card">
            <div class="image">
              <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
            </div>
            <div class="content">
              <h3>Sad <button class="ui icon circular mini basic button"><i class="write icon"></i></button></h3>
            </div>
          </div>
        </div>

      </div>

    </div>