<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui blue image header">
      <div class="content">
        Log-in to your account:
      </div>
    </h2>
        <!-- <div id="firebaseui-auth-container"></div> -->
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <a href="/home">
                    <div class="ui fluid large blue submit button">Login</div>
                </a>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            New to us? <a href="/sign_up">Sign Up</a>
        </div>
    </div>
</div>
<script src="/js/sign_in.js"></script>

