.ui.menu .icon.item>.icon.menu_icon {
    margin-left: 1px;
}

.ui.cards>.card {
    width: 100%;
}

.mood_entry_card {
    height: 325px;
}

@media (max-width: 767px) {
    .mood_entry_card {
        height: inherit;
    }
}

.top.aligned {
    height: 150px;
}

div.ui.top.fixed.secondary.pointing.stackable.menu {
    background-color: white;
}

#mobileNav {
    background-color: white;
}

#mobileNavElilipsis {
    padding-right: 10px;
}

body {
  margin-top: 60px
}
@media (max-width: 767px) {
  body {
    margin-top: 50px
  }
}

#mobileNav {
    display: none
}

@media only screen and (max-width: 767px) {
    #signedInNav {
        display: none
    }
    #mobileNav {
        display: block
    }
}