.ui.menu .icon.item>.icon.menu_icon {
    margin-left: 1px;
}

.ui.cards>.card {
    width: 100%;
}

.ui.fluid.card {
    height: 325px;
}

.top.aligned {
    height: 150px;
}

div.ui.top.fixed.secondary.pointing.stackable.menu {
    background-color: white;
}